{% extends "email_base.html" %}
{% load static %}
{% block content %}
                <h1
                  style="
                    color: #1e1e2d;
                    font-weight: 500;
                    margin: 0;
                    font-size: 32px;
                    font-family: 'Rubik', sans-serif;
                  "
                >
                  Thank you for shopping with us, {{order.first_name}}!
                </h1>
                <span
                  style="
                    display: inline-block;
                    vertical-align: middle;
                    margin: 29px 0 26px;
                    border-bottom: 1px solid #cecece;
                    width: 100px;
                  "
                ></span>
                <h2 style="color: #455056; margin: 0">
                  Here is your order summary..
                </h2>



              <!-- ORDER DETAILS -->
              <h2>Order Details</h2>
              <h3>Order ID:<span> {{ order.order_id }} </span></h3>
              <h3>Order Date: <span> {{ order.created_at }} </span></h3>
              <table
                width="95%"
                cellpadding="0"
                cellspacing="0"
                style="
                  max-width: 1000px;
                  background: #fff;
                  border-radius: 3px;
                  text-align: center;
                  -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                "
              >
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>

                {% for item in order.items.all %}
                <tr>
                  <td>{{ item.item_id.title }}</td>
                  <td>€{{ item.price }}</td>
                  <td>{{ item.qty }}</td>
                  <td>€{{ item.total }}</td>
                </tr>
                {% endfor %}
              </table>
              <h3>Total: € <span> {{ order.total }} </span></h3>
              <h3>Shipping Fee:<span> FREE! </span></h3>
              <h3>Grand Total: € <span> {{ order.total }} </span></h3>

              <!-- SHIPPING DETAILS -->

              <h2>Shipping Details</h2>
              <table
                width="95%"
                cellpadding="0"
                cellspacing="0"
                style="
                  max-width: 1000px;
                  background: #fff;
                  border-radius: 3px;
                  text-align: center;
                  -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                "
              >
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Flat/House Number</th>
                  <th>Street Name</th>
                  <th>City</th>
                  <th>Contact</th>
                </tr>
                <tr>
                  <td>{{ order.full_name }}</td>
                  <td>{{ order.email }}</td>
                  <td>{{ order.apartment_address }}</td>
                  <td>{{ order.street_address }}</td>
                  <td>{{ order.city }}</td>
                  <td>{{ order.phone_number }}</td>
                </tr>
              </table>

              <table style="text-align: center;">
                {% if order.comment %}
                <tr>
                  <th>Order Notes</th>
                </tr>
                <tr>
                  <td>{{ order.comment }}</td>
                </tr>
                {% else %}
                <tr></tr>
                {% endif %}
              </table>
{% endblock %}